---
---

@import 'rouge-github';

h1, h2, h3, h4, h5, h6, strong {
    color: #606c71;
}

.page-header {
    color: #fff !important;
    text-align: center;
    background-color: #474bc9;
    background-image: linear-gradient(120deg, #155799, #159999);
}

.project-name {
    margin-top: 0;
    margin-bottom: .1rem;
    color: #fff !important;
}

.project-tagline {
    margin-bottom: 2rem;
    font-weight: normal;
    opacity: .7;
    color: #fff !important;
}

.page-footer {
    margin-top: 4rem !important;
    color: #fff;
    text-align: center;
    background-color: #474bc9;
    background-image: linear-gradient(120deg, #155799, #159999);
}

.site-footer-owner {
    font-size: 0.7rem;
    text-align: right;
    line-height: 0;
    font-weight: 500;
    display: block;
}

.site-footer-credits {
    color: #fff;
    font-size: 0.7rem;
    text-align: right;
    line-height: 0.5;
    font-weight: 500;
}

a {
    color: #75b9fd;
    text-decoration: none;
}

@media screen and (min-width: 64em) {
    .project-name {
        font-size: 3.25rem;
    }
    .page-header {
        padding: 2rem 6rem;
    }
    .btn {
        padding: .75rem 1rem;
    }
    .project-tagline {
        font-size: 1.25rem;
    }
}

.btn+.btn {
    margin-left: 1rem;
}

.card-tutorial {
    min-height: 250px;

    .btn-tutorial {
        position: absolute;
        right: 15px;
        bottom: 15px;
        max-width: 50px;
    }
}

.btn-header {

    display: inline-block;
    margin-bottom: 1rem;
    color: hsla(0, 0%, 100%, .7);
    background-color: hsla(0, 0%, 100%, .08);
    border-color: hsla(0, 0%, 100%, .2);
    border-style: solid;
    border-width: 1px;
    border-radius: .3rem;
    transition: color .2s, background-color .2s, border-color .2s;

    :hover {
        color: hsla(0, 0%, 100%, .8);
        text-decoration: none;
        background-color: hsla(0, 0%, 100%, .2);
        border-color: hsla(0, 0%, 100%, .3);
    }

}
